@media screen and (max-width: 1000px) {
    #recipe-list {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .list > div {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (max-width: 900px) and (min-width: 800px) {
    .search img {
        position: absolute;
        top: 100px;
        right: 5%;
        filter: invert(1);
        height: 30px;
    }
    .search img:hover {
        color: aqua;
        zoom: 1;
    }

}

@media screen and (max-width: 800px) {
    
    .nav-toggler {
        display: block;
        position: absolute;
        right: 5%;
        align-self: center;
        z-index: 99999;
    }

    .navbar {
        min-height: 60px;
    }
    
    .navbar ul {
        position: absolute;
        width: 60%;
        top: 60px;
        right: 5%;
        flex-direction: column;
        align-items: center;
        background-color: #fff;
        max-height: 0;
        overflow: hidden;
        transition: .3s;
        z-index: 99999;
        box-shadow: 0 0 10px rgb(192, 190, 182);
    }
    
    .navbar ul li {
        width: 100%;
        text-align: left;
        padding-right: 0;
    }

    .navbar ul li {
        padding: 25px 25px 0px 25px;
    }

    .navbar.responsive ul {
        max-height: 100vh;
        padding-bottom: 25px;
        overflow: visible;
    }

    #recipe-container {
        display: flex;
        flex-direction: column;
    }

    #recipe-list {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .list > div {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 500px) {
    #recipe-list {
        display: grid;
        grid-template-columns: 1fr;
    }

    .list > div {
        display: grid;
        grid-template-columns: 1fr;
    }
}
